*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img
{
	max-width: 100%;
	display: block;
}

/* CSS Nesting feature (NEW) */
.slider
{
	height: 450px;

	& .images
	{

		& img.active
		{
			width: 100%;
			height: 450px;
			object-fit: cover;
			object-position: center;
		}

		& img:not(.active)
		{
			display: none;
		}
	}
}

.slider .controls
{
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.controls .prev,
.controls .next
{
	width: 26px;
	height: 26px;
	background-color: white;
	border-radius: 50%;
}

/* Thumbs */

.slider .thumbnails img:not(.active)
{
	filter: grayscale();
}

.thumbnails
{
	height: 450px;
}

.thumb
{
	width: 150px;
	height: calc(100% / 5);
	object-fit: cover;
}